@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/ceraPro/light/cerapro-light-webfont.eot');
  src: url('../fonts/ceraPro/light/cerapro-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ceraPro/light/cerapro-light-webfont.woff2') format('woff2'),
  url('../fonts/ceraPro/light/cerapro-light-webfont.woff') format('woff'),
  url('../fonts/ceraPro/light/cerapro-light-webfont.ttf') format('truetype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_prolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/ceraPro/regular/cerapro-regular-webfont.eot');
  src: url('../fonts/ceraPro/regular/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ceraPro/regular/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/ceraPro/regular/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/ceraPro/regular/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_proregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/ceraPro/medium/cerapro-medium-webfont.eot');
  src: url('../fonts/ceraPro/medium/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ceraPro/medium/cerapro-medium-webfont.woff2') format('woff2'),
  url('../fonts/ceraPro/medium/cerapro-medium-webfont.woff') format('woff'),
  url('../fonts/ceraPro/medium/cerapro-medium-webfont.ttf') format('truetype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_promedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/ceraPro/bold/cerapro-bold-webfont.eot');
  src: url('../fonts/ceraPro/bold/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ceraPro/bold/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/ceraPro/bold/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/ceraPro/bold/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_probold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/ceraPro/black/cerapro-black-webfont.eot');
  src: url('../fonts/ceraPro/black/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.woff2') format('woff2'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.woff') format('woff'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.ttf') format('truetype'),
  url('../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_problack') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedregular';
  src: url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.eot');
  src: url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.woff2') format('woff2'),
  url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.woff') format('woff'),
  url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.ttf') format('truetype'),
  url('../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'encode_sans_expandedbold';
  src: url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.eot');
  src: url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.woff2') format('woff2'),
  url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.woff') format('woff'),
  url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.ttf') format('truetype'),
  url('../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.svg#encode_sans_expandedbold') format('svg');
  font-weight: 700;
  font-style: normal;
}