

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

@import "./fonts";
@import "./base";

@import "./components/preloader";
@import "./layouts/header";

@import "./layouts/banner-section";
@import "./layouts/search-section";
@import "./layouts/product-content-section";
@import "./layouts/product-section";
@import "./components/product-card";
@import "./components/pagination";
@import "./layouts/promo-section";
@import "./layouts/blog-section";
@import "./layouts/about-us-section";
@import "./layouts/footer";


@import "./components/price-range-slider";
@import "./components/mobile-menu";
