:root {
  --main-black-color: #3d3d3d;
  --main-green-color: #46a358;
  --main-grey-color: #727272;
  --secondary-grey-color: #cbcbcb;
  --white-color: #ffffff;
  --secondary-white-color: #fbfbfb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  color: var(--main-black-color);
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/ceraPro/light/cerapro-light-webfont.eot");
  src: url("../fonts/ceraPro/light/cerapro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ceraPro/light/cerapro-light-webfont.woff2") format("woff2"), url("../fonts/ceraPro/light/cerapro-light-webfont.woff") format("woff"), url("../fonts/ceraPro/light/cerapro-light-webfont.ttf") format("truetype"), url("../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_prolight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/ceraPro/regular/cerapro-regular-webfont.eot");
  src: url("../fonts/ceraPro/regular/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ceraPro/regular/cerapro-regular-webfont.woff2") format("woff2"), url("../fonts/ceraPro/regular/cerapro-regular-webfont.woff") format("woff"), url("../fonts/ceraPro/regular/cerapro-regular-webfont.ttf") format("truetype"), url("../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_proregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/ceraPro/medium/cerapro-medium-webfont.eot");
  src: url("../fonts/ceraPro/medium/cerapro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ceraPro/medium/cerapro-medium-webfont.woff2") format("woff2"), url("../fonts/ceraPro/medium/cerapro-medium-webfont.woff") format("woff"), url("../fonts/ceraPro/medium/cerapro-medium-webfont.ttf") format("truetype"), url("../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_promedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/ceraPro/bold/cerapro-bold-webfont.eot");
  src: url("../fonts/ceraPro/bold/cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ceraPro/bold/cerapro-bold-webfont.woff2") format("woff2"), url("../fonts/ceraPro/bold/cerapro-bold-webfont.woff") format("woff"), url("../fonts/ceraPro/bold/cerapro-bold-webfont.ttf") format("truetype"), url("../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_probold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/ceraPro/black/cerapro-black-webfont.eot");
  src: url("../fonts/ceraPro/black/cerapro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ceraPro/black/cerapro-black-webfont.woff2") format("woff2"), url("../fonts/ceraPro/black/cerapro-black-webfont.woff") format("woff"), url("../fonts/ceraPro/black/cerapro-black-webfont.ttf") format("truetype"), url("../fonts/ceraPro/black/cerapro-black-webfont.svg#cera_problack") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "encode_sans_expandedregular";
  src: url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.eot");
  src: url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.woff2") format("woff2"), url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.woff") format("woff"), url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.ttf") format("truetype"), url("../fonts/encodeSansExpanded/regular/encodesansexpanded-regular-webfont.svg#encode_sans_expandedregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "encode_sans_expandedbold";
  src: url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.eot");
  src: url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.woff2") format("woff2"), url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.woff") format("woff"), url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.ttf") format("truetype"), url("../fonts/encodeSansExpanded/bold/encodesansexpanded-bold-webfont.svg#encode_sans_expandedbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
.registration {
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid var(--main-black-color);
  border-radius: 5px;
  padding: 52px 100px 50px;
  border-bottom: 10px solid var(--main-green-color);
}
.registration p {
  font-size: 13px;
  line-height: 1.23;
}
.registration__title {
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.8;
  margin-bottom: 40px;
}
.registration__title span::before {
  content: "";
  border-left: 2px solid var(--main-black-color);
  height: 16px;
  padding-left: 10px;
  margin-left: 10px;
}
.registration__type_active {
  color: var(--main-green-color);
}
.registration__text {
  margin-bottom: 15px;
}
.registration__input__wrapper {
  margin-bottom: 15px;
  max-width: 300px;
  height: 40px;
  position: relative;
}
.registration__input__wrapper:last-of-type {
  margin-bottom: 41px;
}
.registration__input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  color: #a5a5a5;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 0 12px 14px;
  position: relative;
}
.registration__input:focus {
  outline: none !important;
  border-color: var(--main-green-color);
}
.registration__btn {
  color: var(--white-color);
  background-color: var(--main-green-color);
  font-weight: 700;
  font-size: 17px;
  width: 100%;
  max-width: 300px;
  height: 45px;
  margin-bottom: 36px;
  border-radius: 5px;
  border: none;
  transition: 1s;
}
.registration__btn:hover {
  background-color: var(--white-color);
  color: var(--main-green-color);
  border: 1px solid var(--main-green-color);
}
.registration__account {
  max-width: 300px;
}
.registration__account__title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 27px;
}
.registration__account__title:before, .registration__account__title:after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 6px;
}
.registration__link {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 10px 65px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 500;
  color: var(--main-grey-color);
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.registration__link:hover {
  border: 1px solid var(--main-green-color);
}
.registration__link:first-of-type {
  margin-bottom: 15px;
}
.registration__link:last-child {
  padding: 10px 60px;
}
.registration__link img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
}
.registration__link:last-of-type img {
  margin-right: 4px;
}

.password__visible {
  position: absolute;
  right: 13px;
  top: 13px;
}

@media (min-width: 300px) {
  .registration {
    border: none;
    padding: 25px 50px 25px;
  }
  .registration-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
  .registration__link {
    padding: 10px 20px;
  }
  .registration__link:last-child {
    padding: 10px 18px;
  }
}

/*# sourceMappingURL=registration.css.map */
