* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    color: #3d3d3d;
}

.registration__popup {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    padding: 52px 100px 50px;
}

.registration__popup p {
    font-size: 13px;
    line-height: 1.23;
}

.registration__title {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.8;
    margin-bottom: 40px;
}

.registration__type_active {
    color: #46a358;
}

.registration__title span::before {
    content: '';
    border-left: 2px solid #3d3d3d;
    height: 16px;
    padding-left: 10px;
    margin-left: 10px;
}

.registration__text {
    margin-bottom: 15px;
}

.registration__form {
    width: 100%;
}

.input_wrapper {
    margin-bottom: 15px;
    max-width: 300px;
    height: 40px;
    position: relative;
}

.input_wrapper:last-of-type {
    margin-bottom: 41px;
}

.registration__input {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 0 12px 14px;
    position: relative;
}

.password__visible {
    position: absolute;
    right: 13px;
    top: 13px;
}

.registration__btn {
    color: #ffff;
    background-color: #46A358;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    height: 45px;
    margin-bottom: 36px;
    border-radius: 5px;
    border: none;
}

.account__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.account__title::before,
.account__title::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #EAEAEA;
    margin: 0 6px;
}

.registration__account {
    max-width: 300px;
}

.registration__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 65px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: #727272;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 15px;
}

.registration__link img {
    display: block;
    margin-right: 9px;
}

.registration__link:last-of-type img {
    display: block;
    margin-right: 4px;
}