@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    src: url('../fonts/ceraPro/CeraPro-Regular.woff2') format('woff2'),
         url('../fonts/ceraPro/CeraPro-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    src: url('../fonts/ceraPro/CeraPro-Medium.woff2') format('woff2'),
         url('../fonts/ceraPro/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    src: url('../fonts/ceraPro/CeraPro-Bold.woff2') format('woff2'),
         url('../fonts/ceraPro/CeraPro-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    src: url('../fonts/ceraPro/CeraPro-Black.woff2') format('woff2'),
         url('../fonts/ceraPro/CeraPro-Black.woff') format('woff');
    font-weight: 900;
}

:root {
    --main-black-color: #3d3d3d;
    --secondary-green-color: #46a358;
    --secondary-grey-color: #727272;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    color: var(--main-black-color);
}

.registration__popup {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid var(--main-black-color);
    border-radius: 5px;
    padding: 52px 100px 50px;
}

.registration__popup p {
    font-size: 13px;
    line-height: 1.23;
}

.registration__title {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.8;
    margin-bottom: 40px;
}

.registration__type_active {
    color: var(--secondary-green-color);
}

.registration__title span::before {
    content: '';
    border-left: 2px solid var(--main-black-color);
    height: 16px;
    padding-left: 10px;
    margin-left: 10px;
}

.registration__text {
    margin-bottom: 15px;
}

.registration__form {
    width: 100%;
}

.input_wrapper {
    margin-bottom: 15px;
    max-width: 300px;
    height: 40px;
    position: relative;
}

.input_wrapper:last-of-type {
    margin-bottom: 41px;
}

.registration__input {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    color: #a5a5a5;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 0 12px 14px;
    position: relative;
}

.password__visible {
    position: absolute;
    right: 13px;
    top: 13px;
}

.registration__btn {
    color: #ffff;
    background-color: var(--secondary-green-color);
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    height: 45px;
    margin-bottom: 36px;
    border-radius: 5px;
    border: none;
}

.account__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.account__title::before,
.account__title::after {
    content: '';
    flex-grow: 1;
    border-bottom: 1px solid #EAEAEA;
    margin: 0 6px;
}

.registration__account {
    max-width: 300px;
}

.registration__link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 65px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 500;
    color: var(--secondary-grey-color);
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 15px;
}

.registration__link img {
    display: block;
    margin-right: 9px;
}

.registration__link:last-of-type img {
    display: block;
    margin-right: 4px;
}


/*================ index.html ==================*/

.header {
    margin-top: 30px;
    padding-bottom: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    padding-bottom: 18px;
}

.navigation__list {
    display: flex;
    gap: 50px;
    align-items: start;
}

.navigation__list__item {
    position: relative;
}

.navigation__list__item::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    background-color: var(--secondary-green-color);
    height: 3px;
    transition: 0.4s;
    margin-top: 25px;
}

.navigation__list__item:hover .navigation__list__link {
    font-weight: 700;
}

.navigation__list__item:hover::after {
    width: 100%;
}

.navigation__list__link {
    color: var(--main-black-color);
}

.login__btn {
    border-radius: 6px;
    background: var(--secondary-green-color);
    padding: 7px 17px;
    color: #fff;
    display: flex;
    gap: 4px;
    align-items: center;
}

.login__btn::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    background-image: url("../images/logout.svg");
}


/* ========== Main Banner ==============*/

.main__banner .container {

    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg,
    rgba(245, 245, 245, 0.5) 0%,
    rgba(245, 245, 245, 0.5) 100%);
}

.banner__info {
    padding: 68px 0 85px 43px;
}

.banner__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-black-color);
    margin-bottom: 7px;
}

.banner__title {
    font-weight: 900;
    line-height: 1;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--main-black-color);
    margin-bottom: 5px;
}

.banner__highlight {
    font-weight: 900;
    color: var(--secondary-green-color);
}

.banner__description {
    font-weight: 400;
    line-height: 1.7;
    font-size: 14px;
    color: var(--secondary-grey-color);
    margin-bottom: 44px;
}

.banner__btn {
    display: inline-block;
    border-radius: 6px;
    padding: 11px 27px;
    background: var(--secondary-green-color);
    color: #ffffff;
}