.footer {
  &__info {
    display: flex;
    gap: 87px;
    justify-content: space-between;
    padding: 27px 27px 27px 23px;
    background: linear-gradient(
                    90deg,
                    rgba(70, 163, 88, 0.1) 0%,
                    rgba(70, 163, 88, 0.7) 100%
    );
  }

  &__contact {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      line-height: 1.57143;
      max-width: 205px;
      color: var(--main-black-color);

      &:before {
        content: "";
        display: block;
        min-width: 20px;
        height: 20px;
        transition: 0.9s;
      }

      &:hover:before {
        transform: rotateY(180deg);
      }
    }
  }

  &__address {
    display: inline-flex;
    max-width: 206px;

    &:before {
      background-image: url("../images/location.svg");
    }
  }

  &__email:before {
    background-image: url("../images/message.svg");
  }

  &__phone:before {
    background-image: url("../images/calling.svg");
  }

  &__main {
    display: flex;
    gap: 173px;
    padding: 33px 27px 27px 23px;
    background: var(--secondary-white-color);
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
    margin-bottom: 7px;
  }

  &__list-group {
    display: flex;
    flex-basis: 623px;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.88;
    color: var(--main-black-color);
    margin-bottom: 8px;
  }

  &-top__list__item {
    &:hover .footer__link {
      color: var(--main-green-color);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 2.14286;
    color: var(--main-black-color);
  }

  &__social-info {
    margin-bottom: 33px;
  }

  &__social-title,
  &__payment-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 0.88;
  }

  &__social-title {
    margin-bottom: 20px;
  }

  &__payment-title {
    margin-bottom: 13px;
  }

  &__copyright {
    font-size: 14px;
    line-height: 2.14286;
    color: var(--main-black-color);
    text-align: center;
  }
}

.social {
  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.2);
    transition: transform 0.3s ease;
    position: relative;

    svg {
      width: 20px;
      height: 16px;
      fill: rgba(70, 163, 88, 0.6);

      path {
        fill: var(--main-green-color);
        fill-opacity: 0.6;
      }
    }

    &:hover {
      transform: translateY(-10px);
      border: 1px solid var(--white-color);
      background-color: rgba(70, 163, 88, 0.6);

      svg {
        fill: var(--white-color);
      }
    }
  }
}

@media (max-width: 645px) {

  .footer__contact {
    max-width: 210px;
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 768px) {

  .footer {
    .footer__info {

      .footer__contact {
        gap: 10px;
        margin-bottom: 10px;
      }
    }

    &__main {
      flex-direction: column;
      gap: 30px;
      padding: 0;
    }

    &__list-group {
      flex-basis: 0;
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 20px;
      padding: 20px 20px 20px;

      .footer__list {
        flex-wrap: wrap;
      }
    }

    &__social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-title {
        text-align: center;
      }
    }
  }
}

@media (max-width: 888px) {

  .footer__info {
    width: 100%;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .footer__list-group {
    gap: 30px;
  }
}